examples/ecoeye-sync-flow.json
[
  {
    "id": "eqmon_test_tab",
    "type": "tab",
    "label": "EcoEye Sync"
  },
  {
    "id": "eq_inj_vib",
    "type": "inject",
    "z": "eqmon_test_tab",
    "name": "Trigger vibration sync",
    "props": [{"p": "payload"}],
    "repeat": "30",
    "crontab": "",
    "once": false,
    "payload": "{}",
    "payloadType": "json",
    "x": 130,
    "y": 100,
    "wires": [["eq_sync_vib"]]
  },
  {
    "id": "eq_sync_vib",
    "type": "eqmon-sync",
    "z": "eqmon_test_tab",
    "name": "",
    "server": "eqmon_cfg_1",
    "syncType": "vibration",
    "useHwm": true,
    "x": 370,
    "y": 100,
    "wires": [["eq_http_vib"]]
  },
  {
    "id": "eq_http_vib",
    "type": "http request",
    "z": "eqmon_test_tab",
    "name": "POST vibration",
    "method": "POST",
    "ret": "txt",
    "paytoqs": "ignore",
    "url": "",
    "tls": "",
    "persist": false,
    "proxy": "",
    "authType": "",
    "x": 580,
    "y": 100,
    "wires": [["eq_dbg_resp"]]
  },
  {
    "id": "eq_inj_rdg",
    "type": "inject",
    "z": "eqmon_test_tab",
    "name": "Trigger readings sync",
    "props": [{"p": "payload"}],
    "repeat": "30",
    "crontab": "",
    "once": true,
    "payload": "{}",
    "payloadType": "json",
    "x": 130,
    "y": 160,
    "wires": [["eq_sync_rdg"]]
  },
  {
    "id": "eq_sync_rdg",
    "type": "eqmon-sync",
    "z": "eqmon_test_tab",
    "name": "",
    "server": "eqmon_cfg_1",
    "syncType": "readings",
    "useHwm": true,
    "x": 370,
    "y": 160,
    "wires": [["eq_http_rdg"]]
  },
  {
    "id": "eq_http_rdg",
    "type": "http request",
    "z": "eqmon_test_tab",
    "name": "POST readings",
    "method": "POST",
    "ret": "txt",
    "paytoqs": "ignore",
    "url": "",
    "tls": "",
    "persist": false,
    "proxy": "",
    "authType": "",
    "x": 580,
    "y": 160,
    "wires": [["eq_dbg_resp"]]
  },
  {
    "id": "eq_inj_meta",
    "type": "inject",
    "z": "eqmon_test_tab",
    "name": "Trigger meta sync",
    "props": [{"p": "payload"}],
    "repeat": "3600",
    "crontab": "",
    "once": true,
    "payload": "{}",
    "payloadType": "json",
    "x": 110,
    "y": 220,
    "wires": [["eq_sync_dev"]]
  },
  {
    "id": "eq_sync_dev",
    "type": "eqmon-sync",
    "z": "eqmon_test_tab",
    "name": "",
    "server": "eqmon_cfg_1",
    "syncType": "devices",
    "useHwm": true,
    "x": 360,
    "y": 220,
    "wires": [["eq_http_dev"]]
  },
  {
    "id": "eq_http_dev",
    "type": "http request",
    "z": "eqmon_test_tab",
    "name": "POST devices",
    "method": "POST",
    "ret": "txt",
    "paytoqs": "ignore",
    "url": "",
    "tls": "",
    "persist": false,
    "proxy": "",
    "authType": "",
    "x": 570,
    "y": 220,
    "wires": [["eq_sync_smeta", "eq_dbg_resp"]]
  },
  {
    "id": "eq_sync_smeta",
    "type": "eqmon-sync",
    "z": "eqmon_test_tab",
    "name": "",
    "server": "eqmon_cfg_1",
    "syncType": "sensor-meta",
    "useHwm": true,
    "x": 370,
    "y": 280,
    "wires": [["eq_http_smeta"]]
  },
  {
    "id": "eq_http_smeta",
    "type": "http request",
    "z": "eqmon_test_tab",
    "name": "POST sensor-meta",
    "method": "POST",
    "ret": "txt",
    "paytoqs": "ignore",
    "url": "",
    "tls": "",
    "persist": false,
    "proxy": "",
    "authType": "",
    "x": 580,
    "y": 280,
    "wires": [["eq_dbg_resp"]]
  },
  {
    "id": "eq_dbg_resp",
    "type": "debug",
    "z": "eqmon_test_tab",
    "name": "POST response",
    "active": true,
    "tosidebar": true,
    "complete": "payload",
    "targetType": "msg",
    "x": 860,
    "y": 180,
    "wires": []
  },
  {
    "id": "eq_hb",
    "type": "eqmon-heartbeat",
    "z": "eqmon_test_tab",
    "name": "",
    "server": "eqmon_cfg_1",
    "interval": 60,
    "x": 130,
    "y": 440,
    "wires": [["eq_hb_http"]]
  },
  {
    "id": "eq_hb_http",
    "type": "http request",
    "z": "eqmon_test_tab",
    "name": "POST heartbeat",
    "method": "POST",
    "ret": "txt",
    "paytoqs": "ignore",
    "url": "",
    "tls": "",
    "persist": false,
    "proxy": "",
    "authType": "",
    "x": 350,
    "y": 440,
    "wires": [["eq_hb_dbg"]]
  },
  {
    "id": "eq_hb_dbg",
    "type": "debug",
    "z": "eqmon_test_tab",
    "name": "Heartbeat response",
    "active": true,
    "tosidebar": true,
    "complete": "payload",
    "targetType": "msg",
    "x": 570,
    "y": 440,
    "wires": []
  },
  {
    "id": "eq_hwm_inj",
    "type": "inject",
    "z": "eqmon_test_tab",
    "name": "Reset all HWMs",
    "props": [{"p": "payload"}],
    "repeat": "",
    "crontab": "",
    "once": false,
    "payload": "{\"device_id\": \"*\"}",
    "payloadType": "json",
    "x": 130,
    "y": 560,
    "wires": [["eq_hwm"]]
  },
  {
    "id": "eq_hwm",
    "type": "eqmon-hwm-reset",
    "z": "eqmon_test_tab",
    "name": "",
    "deviceId": "*",
    "syncType": "",
    "x": 350,
    "y": 560,
    "wires": [["eq_hwm_dbg"]]
  },
  {
    "id": "eq_hwm_dbg",
    "type": "debug",
    "z": "eqmon_test_tab",
    "name": "HWM reset result",
    "active": true,
    "tosidebar": true,
    "complete": "payload",
    "targetType": "msg",
    "x": 560,
    "y": 560,
    "wires": []
  },
  {
    "id": "eq_ns_inj",
    "type": "inject",
    "z": "eqmon_test_tab",
    "name": "Trigger name sync",
    "props": [{"p": "payload"}],
    "repeat": "",
    "crontab": "",
    "once": false,
    "payload": "{}",
    "payloadType": "json",
    "x": 130,
    "y": 680,
    "wires": [["eq_ns"]]
  },
  {
    "id": "eq_ns",
    "type": "eqmon-name-sync",
    "z": "eqmon_test_tab",
    "name": "",
    "server": "eqmon_cfg_1",
    "interval": 300,
    "x": 350,
    "y": 680,
    "wires": [["eq_ns_dbg"]]
  },
  {
    "id": "eq_ns_dbg",
    "type": "debug",
    "z": "eqmon_test_tab",
    "name": "Name changes",
    "active": true,
    "tosidebar": true,
    "complete": "payload",
    "targetType": "msg",
    "x": 560,
    "y": 680,
    "wires": []
  },
  {
    "id": "eqmon_cfg_1",
    "type": "eqmon-config",
    "name": "eqmon telemetry",
    "baseUrl": "https://telemetry.ecoeyetech.com/sync",
    "gatewayId": ""
  }
]
